.App{
  text-align: center;
}
body{
  background-color: #F6B17A;
  /* background-image: url('./images/bg-p-gen.png'); */
  /* background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  color: #fff; */
}